<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main" xmlns="http://www.w3.org/1999/html">
  <%= render :partial => 'layouts/contact_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <img src="/assets/titles/Insist.png">
    </br> </br>
    <div class="contact-us">
            <%= form_for @user do |f| %>
                <% if @user.errors.any? %>
                    <div class="error_messages">
                      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                      <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name  %>
                </div>
                <div class="test" style="background-color: #333;">

                </div>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.text_field :email %>
                </div>
                <div class="field">
                    <%= f.label :phone %><br />
                    <%= f.text_field :phone %>
                </div>
                <div class="field">
                  <%= f.label :message %><br />
                  <%= f.text_area :message %>
                </div>
                <div class="actions">
                  <%= f.submit "Submit" %>
                </div>
            <% end %>
        </div>
      </div>
    </div>