
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/contact_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <img src="/assets/titles/Contact.png">
    <div class="contact-us">


      <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
              <div class="error_messages">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :comment %><br />
            <%= f.text_field :comment %>
          </div>
          <div class="actions">
            <%= f.submit "Sign Up" %>
          </div>
      <% end %>


    </div>
  </div>
</div>