
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.fancygallery').fancybox();
            $(".the-image-gallery").click(function(){
                window.location=$(this).find("a").attr("href");
                return false;
            });
        });
    </script>
    <img src="/assets/titles/Media.png">
    <div style="height: 30px; display:  block;"></div>

    <div class="the-gallery">
        <% @albums[0]["fql_result_set"].each_with_index do |album, index| %>

          <div class="the-image-gallery" id=""  style=" ">
              <a href="/pages/album/<%= @albums[0]['fql_result_set'][index]['aid'] %>"></a>
              <div class="count"> <%= @albums[0]["fql_result_set"][index]["photo_count"] %> </div>
              <div class="album-title"> <%= @albums[0]["fql_result_set"][index]["name"] %> </div>
          </div>
        <% end %>
    </div>

  </div>
</div>