
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.fancygallery').fancybox();
        });
    </script>
    <img src="/assets/titles/Media.png">
    <div class="the-image-gallery">
        <% @albums[0]["fql_result_set"].each_with_index do |album, index| %>

            <div class="the-image-border-gallery" >
               <div class="count">
                 <%= @albums[0]["fql_result_set"][index]["photo_count"]   %>
               </div>
                <a href="/pages/album/<%= @albums[0]['fql_result_set'][index]['aid'] %>" >
                  <img src="<%= @albums[1]['fql_result_set'][index]['src_big'] %>"   />
                </a>
              <div  class="photo">
                <%= @albums[0]["fql_result_set"][index]["name"]   %>
              </div>
            </div>
      <% end %>
    </div>
  </div>
</div>