
<%= render :partial => 'layouts/header_child', :locals => { :show_links => true } %>

<div class="main">
  <%= render :partial => 'layouts/static_page_sidebar', :locals => { :show_links => true } %>
  <div class="content">
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.fancygallery').fancybox();
        });
    </script>
    <img src="/assets/titles/Media.png">
    <div class="gallery">
      <table>
        <tr>
          <td>
            <div class="image-border-gallery-left">
              <% @album_graph_cover.each do |album| %>
                <a href="<%= album["src_big"] %>" rel="gallery" class="fancygallery">
                  <img src="<%= album["src_big"] %>" class="no-video" />
                </a>
              <% end %>
                <div style="display:none;">
                  <% @album_graph.each do |album| %>
                      <a class="fancygallery" rel="gallery" href="<%= album["src_big"] %>" >   </a>
                  <% end %>
                </div>
                <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
            </div>
          </td>
          <td>
            <div class="image-border-gallery-right">
              <% @graph2_cover.each do |album| %>
                  <a href="<%= album["src_big"] %>" rel="gallery" class="fancygallery">
                    <img src="<%= album["src_big"] %>" class="no-video" />
                  </a>
              <% end %>
              <div style="display:none;">
                <% @graph2.each do |album| %>
                    <a class="fancygallery" rel="gallery" href="<%= album["src_big"] %>" >   </a>
                <% end %>
              </div>
              <div  class="photo">CLICK PHOTO TO VIEW GALLERY</div>
            </div>
          </td>
        </tr>
      </table>


    </div>



  </div>
</div>