<!DOCTYPE html>
<html  >
    <head>
      <meta name="google-site-verification" content="mtkOV8cuXhmcflzGjK5j2GUKDc8_G2jXgdMEpNGnOo0" />
      <title>Nashville K-9 | Nashville Dog Training | Protection Dogs </title>
        <meta name="keywords" content="nashville dog training, nashville dog trainer, nashville dog kennels, protection dogs, dog training programs, detection dogs, police dogs, pet first aid, search and rescue, hunting dogs, puppy training,  board and train, dog obedience, dog agility" />
        <meta name="description" content="Insist on a professional-Nashville K-9 dog training and obedience! The finest in Nashville dog training Located in Nashville, TN (615) 438-2602!">
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= analytics_init if Rails.env.production? %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

    </head>
    <body   onLoad="setActive();">

        <div class="container"  >
          <%= yield %>

        </div>
        <%= render 'layouts/footer' %>
    </body>



</html>
